@font-face {
  font-family: Mont;
  src: url(/fonts/Mont-Regular.otf);
}

@font-face {
  font-family: Mont;
  font-weight: bold;
  src: url(/fonts/Mont-Bold.otf);
}

@font-face {
  font-family: Mont;
  font-weight: bolder;
  src: url(/fonts/Mont-SemiBold.otf);
}

@mixin onMobile {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin onDesctop {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin imgHeight {
  @media (min-width: 1200px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Mont";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  & > section {
    display: flex;
    flex: 1;
    height: 100%;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  position: relative;
  color: #89939a;
  width: 100%;
  height: 100%;

  &--active {
    color: #313237;

    &::before {
      @include onMobile {
        top: 45px;
      }

      content: "";
      position: absolute;
      top: 61px;
      left: 10px;
      right: 10px;
      height: 3px;
      background-color: #313237;
    }
  }

  &--icon-active {
    &::before {
      content: "";
      position: absolute;
      top: 61px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: #313237;
    }
  }
}

.menu {
  background-color: #fff;
  width: 100%;

  @include onMobile {
    position: absolute;
    top: 70px;
    z-index: 0;
    opacity: 0;
    height: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;

    &--open {
      z-index: 2;
      opacity: 1;
      height: calc(100vh - 70px);
      pointer-events: all;
    }
  }

  @include onTablet {
    display: flex;
    justify-content: space-between;
  }
}

.banner {
  &__img {
    @include onMobile {
      width: 100vw;
      height: 100vw;
    }
    width: 100%;
    height: 40vw;
    max-height: 400px;
    object-fit: contain;
    background-color: #f8f7f7;
  }
}

.footer {
  &__logo {
    height: 32px;
    width: max-content;

    & > img {
      height: 100%;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  @include onMobile {
    display: none;
  }

  top: 0;
  margin: 0;
  border: 1px solid #b4bdc3;
  color: #b4bdc3;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 32px;
  z-index: 2;

  &:hover {
    color: #313237;
    border-color: #313237;
  }

  &::after {
    font-size: 16px;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  border-radius: 0;
  width: 9px;
  height: 4px;
}

.swiper-pagination-bullet-active {
  background-color: #313237;
}

.category {
  &__link {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    height: calc((100vw - 64px) / 3);
    transition: all .3s ease-in-out;

    @mixin onMobile {
      width: calc(100vw - 32px);
      height: calc(100vw - 32px);
    }

    @include imgHeight {
      height: 100%;
      max-width: 378px;
      max-height: 378px;
    }

    &--phones {
      background-color: #fcdbc1;
    }

    &--tablets {
      background-color: #8d8d92;
    }

    &--accessories {
      background-color: #973d5f;
    }

    &:hover {
      transform: scale(105%);
    }
  }

  &__img {
    width: inherit;
    height: inherit;
  }
}

.dropdown__link {
  display: block;
  width: 100%;
}

.breadcrumbs__link {
  display: block;
  width: 24px;
  height: 30px;
  padding-top: 2px;
}

.main__image {
  min-height: 288px;
  min-width: 288px;
  height: 288px;
  width: 100%;
  object-fit: contain;

  @include onTablet {
    height: 288px;
  }

  @include onDesctop {
    height: 464px;
    width: 464px;
  }
}

.colors__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #e2e6e9;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;

  &--active {
    border-color: #313237;
  }

  &:hover {
    border-color: #313237;
  }
}

.capacity__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 32px;
  border: 1px solid #e2e6e9;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  line-height: 21px;
  color: #313237;

  &--active {
    background-color: #313237;
    color: #fff;
  }

  &:hover {
    border-color: #313237;
  }
}
